body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
  }
  
  .about-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  ol {
    margin-top: 0;
  }
  
  .chat-container {
    border: 1px solid #ccc;
    padding: 10px;
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  .input-container {
    display: flex;
  }
  
  input {
    flex: 1;
    padding: 10px;
  }
  
  button {
    padding: 10px;
    cursor: pointer;
  }
  
  .message {
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 50%; /* Setengah dari container */
    word-wrap: break-word;
    position: relative;
  }
  
  .user-message {
    background-color: #37c23c;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    text-align: left;
  }
  
  .bot-message {
    background-color: #003d52;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    text-align: right;
    margin-left: auto;
  }
  
  .d-inline-block {
    display: inline-block;
  }
  
  .fit-content {
    width: fit-content;
  }
  
  .icon {
    position: absolute;
    bottom: -10px; /* Sesuaikan posisi ikon */
  }
  
  .user-icon {
    left: -20px; /* Sesuaikan posisi ikon user */
  }
  
  .bot-icon {
    right: -20px; /* Sesuaikan posisi ikon bot */
  }
  