{% extends 'index.html' %}
{% block body %}
<header>
    <h1>About QnA Kampus Merdeka</h1>
</header>

<div class="about-container">
    <h2>How to Use the Chatbot</h2>
    <ol>
        <li>Ketik pesan Anda yang ingin ditanyakan terkait Kampus Merdeka di kotak input.</li>
        <li>Klik tombol "Send" untuk mengirimkan pesan Anda.</li>
        <li>Tunggu hingga bot memproses pesan Anda.</li>
        <li>Lihat respons bot di area obrolan.</li>
        <li>Lanjutkan percakapan dengan mengetik pesan baru.</li>
    </ol>

    <h2>Tips for Interaction</h2>

    <ul>
        <li>Ajukan pertanyaan yang berkaitan dengan topik Kampus Merdeka</li>
        <li>Gunakan bahasa yang jelas dan ringkas untuk pemahaman yang lebih baik</li>
        <li>Bersabarlah, karena bot mungkin memerlukan waktu untuk merespons</li>
    </ul>
</div>
{% endblock %}